Repository TheBevyFlock/bevy_cli, pull requests merged in 2024-12, with the labels that each got.

#190 Linter: Restructure contributing guide + add section on types
  bevy_lint/docs/README.md
  bevy_lint/docs/how-to/editor.md
  bevy_lint/docs/how-to/release.md
  bevy_lint/docs/how-to/types.md
  bevy_lint/docs/index.md
Labels: A-Linter, C-Docs

#164 Add `borrowed_reborrowable` lint
  bevy_lint/src/lints/borrowed_reborrowable.rs
  bevy_lint/src/lints/mod.rs
  bevy_lint/src/paths.rs
  bevy_lint/tests/ui/borrowed_reborrowable/bug_174.rs
  bevy_lint/tests/ui/borrowed_reborrowable/closures.rs
  bevy_lint/tests/ui/borrowed_reborrowable/closures.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/commands.rs
  bevy_lint/tests/ui/borrowed_reborrowable/commands.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/deferred.rs
  bevy_lint/tests/ui/borrowed_reborrowable/deferred.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/deferred_world.rs
  bevy_lint/tests/ui/borrowed_reborrowable/deferred_world.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/entity_commands.rs
  bevy_lint/tests/ui/borrowed_reborrowable/entity_commands.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/entity_mut copy.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/entity_mut.rs
  bevy_lint/tests/ui/borrowed_reborrowable/entity_mut.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/filtered_entity_mut.rs
  bevy_lint/tests/ui/borrowed_reborrowable/filtered_entity_mut.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/mut_typed.rs
  bevy_lint/tests/ui/borrowed_reborrowable/mut_typed.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/mut_untyped.rs
  bevy_lint/tests/ui/borrowed_reborrowable/mut_untyped.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/non_send_mut.rs
  bevy_lint/tests/ui/borrowed_reborrowable/non_send_mut.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/ptr_mut.rs
  bevy_lint/tests/ui/borrowed_reborrowable/ptr_mut.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/query.rs
  bevy_lint/tests/ui/borrowed_reborrowable/query.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/resource.rs
  bevy_lint/tests/ui/borrowed_reborrowable/resource.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/self_param.rs
Labels: A-Linter, C-Feature

#206 Optimize binary with `wasm-opt` in release mode
  Cargo.lock
  Cargo.toml
  src/build/args.rs
  src/build/mod.rs
  src/lib.rs
  src/run/args.rs
  src/run/mod.rs
  src/web/mod.rs
  src/web/wasm_opt.rs
Labels: C-Feature, A-Run, A-Build, A-Web

#195 Add `--bundle` option to `web` commands
  Cargo.lock
  Cargo.toml
  assets/web/index.html
  src/build/args.rs
  src/build/mod.rs
  src/run/args.rs
  src/run/mod.rs
  src/run/serve.rs
  src/web/bundle.rs
  src/web/mod.rs
Labels: C-Feature, A-Run, A-Build, A-Web

#199 New default compilation profiles for web commands
  Cargo.lock
  Cargo.toml
  src/build/args.rs
  src/build/mod.rs
  src/external_cli/cargo/metadata.rs
  src/external_cli/cargo/mod.rs
  src/run/args.rs
  src/run/mod.rs
  src/web/mod.rs
  src/web/profiles.rs
Labels: C-Feature, C-Breaking-Change, A-Run, A-Build, A-Web
