Repository TheBevyFlock/bevy_cli, pull requests merged in 2025-06, with the labels that each got.

#468 Switch to `cargo_metadata` crate.
  Cargo.lock
  Cargo.toml
  src/bin_target.rs
  src/config.rs
  src/external_cli/cargo/metadata.rs
  src/external_cli/mod.rs
  src/external_cli/wasm_bindgen.rs
  src/web/build.rs
  src/web/bundle.rs
  src/web/profiles.rs
  src/web/run.rs
Labels: A-CLI, C-Code-Quality, D-Modest, S-Needs-Review

#469 update `duplicate_bevy_dependencies` ui tests to bevy 0.16
  bevy_lint/src/lints/nursery/duplicate_bevy_dependencies.rs
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/long_version_format/fail/Cargo.lock
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/long_version_format/fail/Cargo.stderr
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/long_version_format/fail/Cargo.toml
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/long_version_format/pass/Cargo.lock
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/long_version_format/pass/Cargo.toml
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/short_version_format/fail/Cargo.lock
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/short_version_format/fail/Cargo.stderr
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/short_version_format/fail/Cargo.toml
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/short_version_format/pass/Cargo.lock
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/short_version_format/pass/Cargo.toml
Labels: A-Linter, C-Feature, C-Dependencies, D-Straightforward, S-Needs-Review

#473 Make `--no-default-features` be a toggle instead of option
  MIGRATION.md
  src/build/args.rs
  src/external_cli/cargo/mod.rs
  src/run/args.rs
Labels: A-CLI, C-Usability, M-Needs-Migration-Guide, D-Straightforward, S-Needs-Review

#475 Make install commands copy-pasteable
  README.md
  bevy_lint/README.md
  docs/src/cli/install.md
  docs/src/contribute/cli/release.md
  docs/src/contribute/linter/how-to/release.md
  docs/src/linter/install.md
Labels: C-Docs, A-Cross-Cutting, D-Trivial, S-Needs-Review

#483 Make lint items `pub(crate)`, hiding them from docs
  bevy_lint/src/lints/cargo.rs
  bevy_lint/src/lints/nursery/duplicate_bevy_dependencies.rs
  bevy_lint/src/lints/nursery/zst_query.rs
  bevy_lint/src/lints/pedantic/borrowed_reborrowable.rs
  bevy_lint/src/lints/pedantic/main_return_without_appexit.rs
  bevy_lint/src/lints/restriction/missing_reflect.rs
  bevy_lint/src/lints/restriction/panicking_methods.rs
  bevy_lint/src/lints/style/unconventional_naming.rs
  bevy_lint/src/lints/suspicious/insert_event_resource.rs
  bevy_lint/src/lints/suspicious/insert_unit_bundle.rs
  bevy_lint/src/lints/suspicious/iter_current_update_events.rs
Labels: A-Linter, C-Docs, D-Trivial, S-Needs-Review

#485 Allow custom web assets to be defined at package level
  src/web/bundle.rs
Labels: A-Web, D-Straightforward, S-Needs-Review

#495 Make `unconventional_naming` lint smarter 🧑‍🎓🍎🧠
  bevy_lint/src/lints/style/unconventional_naming.rs
  bevy_lint/tests/ui/unconventional_naming/plugin.rs
  bevy_lint/tests/ui/unconventional_naming/plugin.stderr
  bevy_lint/tests/ui/unconventional_naming/spoofed_name.rs
  bevy_lint/tests/ui/unconventional_naming/spoofed_name.stderr
  bevy_lint/tests/ui/unconventional_naming/system_set.rs
  bevy_lint/tests/ui/unconventional_naming/system_set.stderr
Labels: A-Linter, C-Usability, D-Straightforward, S-Needs-Review

#478 Support custom linter sysroot
  bevy_lint/src/bin/main.rs
  docs/src/SUMMARY.md
  docs/src/linter/environmental-variables.md
  docs/src/linter/install.md
Labels: A-Linter, C-Usability, D-Modest, S-Needs-Review
