Repository TheBevyFlock/bevy_cli, pull requests merged in 2025-08, with the labels that each got.

#533 Release linter v0.4.0
  Cargo.lock
  bevy_lint/CHANGELOG.md
  bevy_lint/Cargo.toml
  bevy_lint/MIGRATION.md
  bevy_lint/README.md
  docs/src/linter/compatibility.md
  docs/src/linter/github-actions.md
  docs/src/linter/install.md
  src/commands/lint.rs
Labels: A-Linter, S-Needs-Review

#534 Fix v0.4.0 changelog date
  bevy_lint/CHANGELOG.md
Labels: A-Linter, C-Docs

#523 Support `bevy lint web`
  src/bin/main.rs
  src/commands/lint.rs
  src/commands/lint/args.rs
  src/commands/lint/mod.rs
  src/external_cli/cargo/check.rs
  src/external_cli/cargo/mod.rs
Labels: A-CLI, C-Feature, D-Straightforward

#539 Rustup to `nightly-2025-08-07`
  Cargo.lock
  bevy_lint/CHANGELOG.md
  bevy_lint/Cargo.toml
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/long_version_format/fail/Cargo.stderr
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/short_version_format/fail/Cargo.stderr
  bevy_lint/tests/ui.rs
  bevy_lint/tests/ui/borrowed_reborrowable/closures.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/commands.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/deferred.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/deferred_world.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/entity_commands.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/entity_mut.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/filtered_entity_mut.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/mut_typed.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/mut_untyped.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/non_send_mut.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/ptr_mut.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/query.stderr
  bevy_lint/tests/ui/borrowed_reborrowable/resource.stderr
  bevy_lint/tests/ui/camera_modification_in_fixed_update/main.stderr
  bevy_lint/tests/ui/insert_event_resource/main.stderr
  bevy_lint/tests/ui/iter_current_update_events/plain.stderr
  bevy_lint/tests/ui/iter_current_update_events/res.stderr
  bevy_lint/tests/ui/main_return_without_appexit/main.stderr
  bevy_lint/tests/ui/missing_reflect/derived.stderr
  bevy_lint/tests/ui/missing_reflect/impl.stderr
  bevy_lint/tests/ui/missing_reflect/none_reflect_fields.stderr
  bevy_lint/tests/ui/panicking_methods/query.stderr
  bevy_lint/tests/ui/panicking_methods/world.stderr
  bevy_lint/tests/ui/schedule/fixed_update_schedule.stderr
  bevy_lint/tests/ui/schedule/update_schedule.stderr
  bevy_lint/tests/ui/unconventional_naming/plugin.stderr
  bevy_lint/tests/ui/unconventional_naming/spoofed_name.stderr
  bevy_lint/tests/ui/unconventional_naming/system_set.stderr
  bevy_lint/tests/ui/unit_in_bundle/bevy.stderr
  bevy_lint/tests/ui/unit_in_bundle/general.stderr
  bevy_lint/tests/ui/unit_in_bundle/spawn_empty.stderr
  bevy_lint/tests/ui/zst_query/query.stderr
  bevy_lint/tests/ui_cargo.rs
  docs/src/contribute/linter/how-to/release.md
  docs/src/contribute/linter/how-to/upgrade-rust-toolchain.md
  docs/src/linter/compatibility.md
  rust-toolchain.toml
Labels: A-Linter, C-Dependencies, C-Docs, D-Trivial, S-Needs-Review

#543 Improve error message when `cargo metadata` fails
  src/external_cli/mod.rs
Labels: A-CLI, C-Usability, D-Straightforward, S-Needs-Review

#540 Append cargo config rustflags to `CliConfig`
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/commands/build/mod.rs
  src/commands/lint/mod.rs
  src/commands/run/mod.rs
  src/config.rs
Labels: A-CLI, D-Straightforward, S-Waiting-on-Author

#548 Bump dependencies in `Cargo.lock`
  Cargo.lock
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/long_version_format/fail/Cargo.lock
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/long_version_format/pass/Cargo.lock
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/short_version_format/fail/Cargo.lock
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/short_version_format/pass/Cargo.lock
  tests/bevy_cli_test/Cargo.lock
Labels: C-Dependencies, A-Cross-Cutting, D-Trivial, S-Needs-Review

#529 Support installing different `bevy_lint` versions
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/src/cli/linter.md
  docs/src/linter/install.md
  src/commands/lint/args.rs
  src/commands/lint/install.rs
  src/commands/lint/mod.rs
  src/commands/new/mod.rs
  src/external_cli/cargo/install.rs
  src/external_cli/mod.rs
  src/external_cli/rustup.rs
  src/external_cli/wasm_bindgen.rs
Labels: A-CLI, A-Linter, C-Feature, D-Modest, S-Needs-Review

#552 remove log line that prints for each profile
  src/config.rs
Labels: A-Web, D-Trivial

#554 cargo update
  Cargo.lock
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/long_version_format/fail/Cargo.lock
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/long_version_format/pass/Cargo.lock
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/short_version_format/fail/Cargo.lock
  bevy_lint/tests/ui-cargo/duplicate_bevy_dependencies/short_version_format/pass/Cargo.lock
Labels: C-Dependencies, A-Cross-Cutting, D-Trivial, S-Needs-Review
