Repository TheBevyFlock/bevy_cli, pull requests merged in 2025-09, with the labels that each got.

#517 Improve linter's diagnostics when it ICEs
  bevy_lint/clippy.toml
  bevy_lint/src/bin/bevy_lint.rs
  bevy_lint/src/callback.rs
  bevy_lint/src/lib.rs
  bevy_lint/src/lints/pedantic/borrowed_reborrowable.rs
  bevy_lint/src/lints/restriction/missing_reflect.rs
  bevy_lint/src/lints/suspicious/unit_in_bundle.rs
  bevy_lint/src/utils/cargo.rs
  bevy_lint/src/utils/method_call.rs
  bevy_lint/src/utils/mod.rs
  bevy_lint/src/utils/panic.rs
  docs/src/SUMMARY.md
  docs/src/contribute/linter/how-to/ices.md
Labels: A-Linter, C-Docs, C-Usability, D-Modest, S-Adopt-Me

#557 Configure Dependabot
  .github/dependabot.yml
Labels: A-Build-System, C-Dependencies, D-Straightforward, S-Needs-Review

#547 Automatically configure getrandom web backend
  CHANGELOG.md
  docs/src/SUMMARY.md
  docs/src/cli/web/getrandom.md
  src/web/build.rs
  src/web/getrandom.rs
  src/web/mod.rs
Labels: C-Usability, A-Web, D-Modest, S-Needs-Review

#591 Ignore `cargo` lint projects in Dependabot
  .github/dependabot.yml
Labels: A-Build-System, C-Dependencies, S-Needs-Review

#596 Check `bevy_lint/action.yml` with Dependabot
  .github/dependabot.yml
Labels: A-Build-System, C-Dependencies, D-Trivial, S-Needs-Review

#598 Improve docs with undocumented features
  docs/src/SUMMARY.md
  docs/src/cli/configuration/reference.md
  docs/src/cli/linter.md
  docs/src/cli/scaffolding.md
  docs/src/cli/troubleshooting.md
  docs/src/cli/web.md
  docs/src/cli/web/getrandom.md
  docs/src/cli/web/multi-threading.md
  docs/src/linter/install.md
Labels: A-CLI, C-Docs, D-Modest, S-Needs-Review

#611 Post-release CLI v0.1.0-alpha.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/src/contribute/cli/release.md
Labels: A-CLI, D-Trivial, S-Needs-Review

#615 Enable `getrandom` backend with `bevy lint web`
  src/commands/lint/mod.rs
  src/web/build.rs
  src/web/getrandom.rs
Labels: A-Linter, C-Bug, A-Web, D-Straightforward, S-Needs-Review
