Repository TheBevyFlock/bevy_cli, pull requests merged in 2025-05, with the labels that each got.

#402 Switch to `Swatinem/rust-cache`
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: A-CI, C-Feature, D-Modest

#388 Document all public items of the CLI
  src/bin/main.rs
  src/build/args.rs
  src/build/mod.rs
  src/config.rs
  src/external_cli/arg_builder.rs
  src/external_cli/mod.rs
  src/lib.rs
  src/lint.rs
  src/run/mod.rs
  src/template.rs
Labels: A-CLI, C-Docs, C-Breaking-Change, D-Trivial, S-Needs-Review

#410 Align logging to match `cargo`'s style
  Cargo.lock
  Cargo.toml
  src/bin/main.rs
  src/build/args.rs
  src/external_cli/mod.rs
  src/external_cli/rustup.rs
  src/external_cli/wasm_opt.rs
  src/run/args.rs
  src/web/build.rs
  src/web/bundle.rs
  src/web/run.rs
  src/web/serve.rs
Labels: A-CLI, D-Straightforward, S-Needs-Review

#411 Rename `default_features` to `default-features`
  README.md
  src/config.rs
Labels: C-Breaking-Change, D-Trivial, S-Needs-Review

#405 Improve README, pass 1
  README.md
Labels: A-CLI, C-Docs

#404 use correct config scope for release and custom cli profiles
  src/build/args.rs
  src/run/args.rs
  src/web/build.rs
  src/web/run.rs
Labels: A-CLI, C-Feature, D-Straightforward, S-Needs-Review

#406 Support installing `bevy_lint` via CLI
  src/bin/main.rs
  src/external_cli/cargo/install.rs
  src/external_cli/mod.rs
  src/external_cli/rustup.rs
  src/external_cli/wasm_bindgen.rs
  src/external_cli/wasm_opt.rs
  src/lint.rs
Labels: A-CLI, C-Feature, C-Breaking-Change, D-Modest, S-Needs-Review

#420 Move CLI docs to `mdbook` + Github Pages
  .github/workflows/docs.yml
  .gitignore
  README.md
  bevy_lint/docs/README.md
  bevy_lint/docs/how-to/release.md
  bevy_lint/docs/reference/lint-module-docs.md
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/cli/index.md
  docs/src/cli/install.md
  docs/src/cli/linter.md
  docs/src/cli/quick-start.md
  docs/src/cli/scaffolding.md
  docs/src/cli/troubleshooting.md
  docs/src/cli/web.md
  docs/src/cli/web/default_index_html.md
  docs/src/intro.md
Labels: A-CLI, A-CI, C-Docs, D-Straightforward, S-Needs-Review

#435 Fix serving of custom web folders
  src/web/bundle.rs
  src/web/serve.rs
Labels: C-Bug, A-Run, A-Web, D-Straightforward, S-Needs-Review

#413 Build binaries for CLI releases (e.g. `cargo-binstall` support)
  .github/workflows/build-cli.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/extract-rust-version.yml
  Cargo.toml
Labels: A-CLI, A-CI, C-Usability, D-Modest, S-Needs-Review

#438 Add CLI Configuration to `mdbook`
  docs/src/SUMMARY.md
  docs/src/cli/configuration.md
  docs/src/cli/configuration/reference.md
Labels: A-CLI, C-Docs, D-Straightforward, S-Waiting-on-Author

#436 `mdbook` followup
  .github/workflows/docs.yml
  CONTRIBUTING.md
  README.md
  assets/web/index.html
  bevy_lint/CHANGELOG.md
  bevy_lint/MIGRATION.md
  bevy_lint/README.md
  bevy_lint/docs/how-to/editor.md
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/cli/install.md
  docs/src/cli/linter.md
  docs/src/cli/web.md
  docs/src/cli/web/default-index-html.md
  docs/src/contribute/linter/explanation.md
  docs/src/contribute/linter/how-to.md
  docs/src/contribute/linter/how-to/editor.md
  docs/src/contribute/linter/how-to/methods.md
  docs/src/contribute/linter/how-to/release.md
  docs/src/contribute/linter/how-to/types.md
  docs/src/contribute/linter/how-to/upgrade-rust-toolchain.md
  docs/src/contribute/linter/index.md
  docs/src/contribute/linter/reference.md
  docs/src/contribute/linter/reference/conventions.md
  docs/src/contribute/linter/reference/lint-module-docs.md
  docs/src/contribute/linter/reference/macros.md
  docs/src/contribute/linter/tutorial.md
  docs/src/intro.md
  docs/src/linter/compatibility.md
  docs/src/linter/github-actions.md
  docs/src/linter/index.md
  docs/src/linter/install.md
  docs/src/linter/usage.md
  docs/src/linter/usage/detecting-bevy-lint.md
  docs/src/linter/usage/register-bevy-tool.md
  docs/src/linter/usage/toggling-lints-cargo-toml.md
  docs/src/linter/usage/toggling-lints-code.md
Labels: A-CI, C-Docs, C-Testing, D-Modest, S-Needs-Review

#445 Fix "mdbook-lintcheck" typo
  .github/workflows/docs.yml
  docs/book.toml
Labels: A-CI, C-Bug, D-Trivial, S-Needs-Review

#446 Fix website 404
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: A-CI, C-Bug, D-Trivial, S-Needs-Review

#448 Make the correct directory when building website
  .github/workflows/docs.yml
Labels: A-CI, C-Bug, D-Trivial, S-Needs-Review

#449 Link directly to `all lints`
  docs/src/linter/index.md
Labels: A-Linter, C-Docs, D-Trivial, S-Needs-Review

#447 Write guide on releasing the CLI
  CHANGELOG.md
  MIGRATION.md
  bevy_lint/CHANGELOG.md
  bevy_lint/MIGRATION.md
  docs/src/SUMMARY.md
  docs/src/cli/changelog.md
  docs/src/cli/migration.md
  docs/src/contribute/cli/release.md
  docs/src/contribute/linter/how-to/release.md
  docs/src/linter/changelog.md
  docs/src/linter/migration.md
Labels: A-CLI, C-Docs, X-Blessed, D-Straightforward, S-Needs-Review

#464 Use cargo's styling for `clap`s help output
  Cargo.lock
  Cargo.toml
  src/bin/main.rs
Labels: A-CLI, D-Trivial, S-Needs-Review
